.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  min-height: 3rem;
  box-sizing: border-box;
}

.header h1 {
  margin: 0;
  text-align: left;
  display: inline-block;
  text-transform: uppercase;
}

.header .scores {
  list-style:  none;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
}

.cards {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
  margin: 2rem auto;
  max-width: 80%;
}

.memo-card {
  font-size: 10rem;
  cursor: pointer;
  width: 14rem;
  height: 14rem;
  border: 1px solid beige;
  border-radius: 2rem;
}

.memo-card:hover {
  background-color: antiquewhite;
}